<div class="home-header pure-menu pure-menu-horizontal">
  <div class="home-header-bar">
    <ul class="home-header-menu pure-menu-list">
      <li class="pure-menu-item">
        <a href="/tags/#projects" class="pure-menu-link {% if page.url == item.url %}current-item{% endif %}"">All</a>
      </li>
        <li class="pure-menu-item">
          <a href="/tags/#design" class="pure-menu-link {% if page.url == item.url %}current-item{% endif %}"">Design</a>
        </li>
        <li class="pure-menu-item">
          <a href="/tags/#development" class="pure-menu-link {% if page.url == item.url %}current-item{% endif %}"">Development</a>
        </li>
    </ul>
  </div>
</div>
