// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.post-entry {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: var(--spacer);
}

.page{
  margin: auto;
}
.page,
.post {
  font-family: var(--text-font);
  margin-bottom: 1em;

  h1, h2, h3, h4, h5, h6, .post-meta {
    font-family: var(--body-font);
  }

  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title {
  color: var(--secondary-color);
  text-align: center;
}
.page-title,
.post-title {
  margin-top: 0;
}
.post-title a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// Meta data line below post title
.post-meta {
  display: block;
  margin-top: -.5rem;
  margin-bottom: var(--spacer);
  color: var(--gray-600);
}

.comment-count {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: underline;
  }
}

// Related posts
.related {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-2);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  a {
    text-decoration: none;

    small {
      color: var(--gray-600);
    }
    
  }
}

.post-tags-section {
  display: block;
  padding: var(--spacer) 0;
  color: var(--gray-600);
  font-family: var(--body-font);
}

.post-tags-icon {
  display: inline-block;
  margin-right: var(--spacer);
}

.post-tags {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: var(--spacer);

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--body-bg);
        background-color: var(--secondary-color);
      }
    }
  }
}

.post-tag {
  padding: .1em .5em;
  border: 1px solid var(--border-color);
  border-radius: .5em;
}

//img formatting 
.pink-shadow{
  box-shadow: 15px 15px 0px var(--main-color);
  margin: 10px auto 35px auto;
}

//helper classes 
.center { 
  text-align: center;
  align-items: center;
}

.w-70{
  width: 70%;
}

.w-60{
  width: 60%;
}

.grid-3{ 
  width: 30%;
  display: inline;
  margin-bottom: 25px;

  @media (max-width: $sm-width) {
    width: 60%;
    margin: 10px;
  }
}

.siema img{
  margin: auto;
}

.gallery-button{
  background-color: var(--main-color);
  color: var(--secondary-color);
  margin: 0px 20px 0px 20px;
  padding: 5px;
  border: none;
  background: none;
}

.gallery-button-container{
  width: auto;
  margin: 20px;
}


img.feed-img{
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: 20%;
 
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 9px;
  left: 0;
  right: 0;
  background: rgba(223, 131, 151, 0.8);
  transition: background .3s linear;
}

.tint:hover:before {
  background: none;
}

.small{
  
}

.bold-pink{
  font-weight: bold;
  color: var(--main-color);
}

.post-title{
  position: absolute;
  margin: 20px;
  font-weight: bold;
  color: white;
}


.post-description{
  font-size: 1.4rem;
  position: absolute;
  margin: 60px 20px 20px 20px;
  width: 40%;
  color: white;

  @media (max-width: $sm-width) {
    font-size: 0.8rem;
  }

  @media (max-width: $md-width) {
    font-size: 1.2rem;
    width: 87%;
  }
}
