---
layout: default
---

{% include home-header.html %}

{%- assign taxonomies = site.categories -%}

{% comment %} Calculate the max count of taxonomies {% endcomment %}
{%- assign max_count = 0 -%}

{%- for taxonomy in taxonomies -%}
{%- assign posts = taxonomy[1] -%}
{%- if posts.size > max_count -%}
{%- assign max_count = posts.size -%}
{%- endif -%}
{%- endfor -%}

{% assign post_count = 0 %}

{% comment %} Show posts by taxonomy {% endcomment %}
{%- for i in (1..max_count) reversed -%}
{%- for taxonomy in taxonomies -%}
{%- assign taxonomy_name = taxonomy[0] -%}
{%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
{%- assign posts = taxonomy[1] -%}
{%- if posts.size == i -%}
<ul class="post-list">
  {%- for post in posts -%}
  {%- if post.categories == page.categories -%}
  {% assign post_count = post_count | plus:1 %}
  <section class="post-entry">
    <div class="post fade-out">
      <a href="{{ post.url | relative_url }}">
        <figure class="tint">
          <img class="feed-img" src="{{post.feed-img}}" alt="Image of {{post.title}}" />
        </figure>
      </a>
      <h2 class="card-title">{{ post.title }}</h2>
      <h2 class="post-description">{{ post.description | strip_html }}</h2>
    </div>
  </section>
  {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
{%- endfor -%}
{%- endfor -%}

{%- if post_count == 0 -%}
  <h2> No posts found for this category. Sorry!</h2>
{%- endif -%}